.ultimate-csv-plugin table,
.ultimate-csv-plugin td,
.ultimate-csv-plugin th,
.ultimate-csv-plugin tr {
    border-spacing: 0px;
}

.ultimate-csv-plugin table {
    color: var(--text-normal);
    background-color: var(--background-primary);
    border: 1px solid var(--background-modifier-border);
}

.ultimate-csv-plugin tr:first-child {
    font-weight: 900;
}

.ultimate-csv-plugin tr {
    background-color: var(--background-primary-alt);
}

.ultimate-csv-plugin tr:nth-child(even) {
    background-color: var(--background-secondary-alt);
}

.ultimate-csv-plugin th,
.ultimate-csv-plugin td {
    word-wrap: break-word;
    padding: 4px 10px;
    cursor: pointer;
    text-align: left;
    border: 1px solid transparent;
}

.ultimate-csv-plugin.focused {
    border: 1px solid var(--interactive-accent);
    border-radius: 4px;
    cursor: text;
}

.ultimate-csv-plugin.table-numbers, 
.ultimate-csv-plugin.table-add-new-cell,
.ultimate-csv-plugin.table-add-new-row {
    cursor: default;
    font-weight: 900;
    text-align: center;
    background-color: var(--background-secondary);
    border-right: 1px solid var(--background-modifier-border);
    border-bottom: 1px solid var(--background-modifier-border);
}

.ultimate-csv-plugin.table-add-new-row,
.ultimate-csv-plugin.table-add-new-cell {
    cursor: pointer;
    display: grid;
    place-items: center;
    border-bottom: 0px solid transparent;
    background-color: var(--interactive-accent);
    font-size: larger;
    font-weight: 600;
}

.ultimate-csv-plugin.table-add-new-cell {
    border-right: 0px solid transparent;
    border-bottom: 1px solid var(--background-modifier-border);
}

.ultimate-csv-plugin.table-add-new-row:hover,
.ultimate-csv-plugin.table-add-new-cell:hover {
    background-color: var(--interactive-accent-hover);
}
